# Django
DEBUG=True
SECRET_KEY=change_me_in_production
ALLOWED_HOSTS=127.0.0.1,localhost

# Database
DB_NAME=bot
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Bot
BOT_PLATFORM=vk

# Bot debug auth bypass (DEBUG=True)
BOT_DEBUG_BYPASS_AUTH=False
BOT_DEBUG_USER_USERNAME=debug_student
BOT_DEBUG_USER_PASSWORD=ChangeMe123!
BOT_DEBUG_USER_GROUP=Студент
BOT_DEBUG_ACADEMIC_GROUP=Демо учебная группа
BOT_DEBUG_USER_FIRST_NAME=Debug
BOT_DEBUG_USER_LAST_NAME=User

# Telegram
TELEGRAM_BOT_TOKEN=

# VK
VK_BOT_TOKEN=
VK_GROUP_ID=

# OAuth
OAUTH_CREATE_GROUPS_IF_NOT_EXISTS=True
OAUTH_AUTHORIZE_URL=
OAUTH_ACCESS_TOKEN_URL=ht
OAUTH_PROFILE_URL=
BACKEND_URL=http://127.0.0.1:8000

# Security
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# CORS
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000
CORS_ALLOWED_ORIGINS=https://127.0.0.1:8000,https://web.telegram.org

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_TASK_ALWAYS_EAGER=False

# Plagiarism
PLAGIARISM_BERT_MODEL=cointegrated/rubert-tiny2
PLAGIARISM_BERT_THRESHOLD=0.82
PLAGIARISM_PLAGIARISM_THRESHOLD=70.0
PLAGIARISM_SUSPICIOUS_THRESHOLD=30.0